*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

:root {
    --bg-primary: rgb(22, 179, 126);
    --bg-secondary: #eaeaea;
    --txt-primary: #f7f7f7;
    --txt-secondary: #222222;
    --icons-bg-primary: tomato;
    --icons-bg-secondary: #777;
}

.container {
    width: 100%;
    height: auto;
    min-height: 100vh;
    background-color: var(--bg-primary);
}

.wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    width: 40%;
    border: 1px solid white;
    background-color: var(--bg-secondary);
    color: var(--txt-secondary);
    padding: 32px;
    margin: 8px;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.text-center {
    text-align: center;
}

.title {
    font-size: 30px;
}

.icons {
    margin-top: 8px;
    font-size: 24px;
    color: var(--icons-bg-primary);
}

.description {
    margin-top: 8px;
    font-size: .5em;
}

.btn {
    margin-top: 16px;
    padding: 8px;
    cursor: pointer;
    border: none;
    width: 100%;
    background-color: var(--bg-secondary);
}

.btn:hover {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 476px) {
    .container {
        background-color: tomato;
    }

    .card {
        width: 95%;
    }

    .icons {
        font-size: 2em
    }

    .title {
        font-size: 3em;
    }

    .description {
        font-size: 1.5pc;
    }

    .btn {
        padding: 16px;
        font-size: 1.5em;
    }
}

.roll-in-left {
    animation: roll-in-left 0.6s ease-out both;
}

@keyframes roll-in-left {
    0% {
        transform: translateX(-800px) rotate(-540deg);
        opacity: 0;
    }

    100% {
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}


.roll-in-right {
    -webkit-animation: roll-in-right 0.6s ease-out both;
    animation: roll-in-right 0.6s ease-out both;
}

@-webkit-keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

@keyframes roll-in-right {
    0% {
        -webkit-transform: translateX(800px) rotate(540deg);
        transform: translateX(800px) rotate(540deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0) rotate(0deg);
        transform: translateX(0) rotate(0deg);
        opacity: 1;
    }
}

.vibrate-1 {
    animation: vibrate-1 0.3s linear infinite both;
}

@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


.color-change-2x {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
    width: 100%;
    height: auto;
    min-height: 100vh;
}

@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}